body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(115, 130, 118);
    color: white;
    font-family: 'Unna', serif;
}



.navbar-brand{
    color: white;

}


.navbar-brand:hover{
    color: white;

}


.nav-link{
    color: white;
    font-size: 1.23rem;

}


.nav-link:hover{
    text-decoration: underline;
    color: black;

}



.space1{
    padding-bottom: 5rem;
    padding-top: 3rem;
}

.space2{
    padding-bottom: 5.5rem;
    padding-top: 5.5rem;
}

.space3{
    padding-bottom: 4rem;
    padding-top: 5rem;
}

.d-flex{
    flex-direction: column;
}

.big{
    font-size: 2rem;
    color: white;
}

.outline:focus{
    outline: none;
    box-shadow: none;
}
.menu-background{
    background: rgb(164,188,170);
}